@import url(./get-a-quote2.css);

.content_quote {
  display: flex;
  justify-content: space-between;
}

#quote-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title-quote {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-azul-escuro);
  margin-bottom: 32px;
}
.content_quote_left {
  width: calc(70% - 20px);
}

.count_num {
  padding: 8px 10px;
  border: 2px solid var(--color-blue-light);
  background-color: var(--color-blue-light2);
  border-radius: 60px;
  width: auto;
  display: flex;
  justify-content: center;
}
.count_num input {
  width: 40px;
  padding: 0;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
.count_num select {
  width: 100px;
  padding: 0;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
.count_num button {
  background-color: var(--color-azul-destaque);
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
}
.count_num button:active {
  filter: brightness(70%);
}
.first_select_quote {
  display: flex;
}
.card_first_select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}
.card_first_select img {
  width: 40px;
  margin: auto;
  margin-bottom: 16px;
}
.card_first_select h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-gray5);
  margin-bottom: 16px;
  width: 100%;
}
.head_card_first_select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form_quote_row {
  display: none;
  border: 1px solid var(--color-gray2);
  border-radius: 8px;
  padding: 24px 40px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.out {
  animation: out 0.5s ease-in forwards;
}

@keyframes out {
  0% {
    max-height: 3000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.in {
  animation: in 0.5s ease-in forwards;
}

@keyframes in {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 3000px;
    opacity: 1;
  }
}

#form-step-1 {
  display: block;
}

.second_select_quote {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.second_select_quote .over_card_select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}

.second_select_quote .promo-20:first-child:before {
  content: "20% off";
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  font-weight: 500;
  padding: 4px 5px;
  background-color: red;
  color: var(--color-white);
  border-radius: 0px 8px 0px 10px;
  z-index: 1;
}

.second_select_quote .promo-15:before {
  content: "15% off";
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  font-weight: 500;
  padding: 3.5px 5px;
  background-color: red;
  color: var(--color-white);
  border-radius: 0px 8px 0px 10px;
  z-index: 1;
}

.second_select_quote .card_select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray2);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  height: 100%;
}
.second_select_quote .card_select input {
  display: none;
}
.second_select_quote .card_select p {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray5);
  line-height: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.second_select_quote .card_select svg {
  margin-bottom: 10px;
}
.second_select_quote .card_select svg path {
  fill: #9ca3af;
}
.second_select_quote .card_select span {
  color: var(--color-azul-destaque);
  text-decoration: underline;
  cursor: pointer;
}
.over_card_select .over_checkbox {
  padding: 6px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  cursor: pointer;
}
.over_card_select .over_checkbox label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.over_card_select .over_checkbox input {
  margin-right: 5px;
}
.over_card_select .over_checkbox span {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
}
.second_select_quote .card_select:hover {
  box-shadow: 4px 4px 14px rgba(46, 105, 255, 0.3);
}

/* ============== card_select active ====================== */
.over_card_select.active .card_select {
  background-color: var(--color-azul-destaque);
}
.over_card_select.active .card_select p,
.over_card_select.active .card_select span {
  color: var(--color-white);
}

.over_card_select.active .card_select svg path {
  fill: var(--color-white);
}
.over_card_select.active .over_checkbox {
  display: flex !important;
}
/* ============== card_select active ====================== */

.second_select_quote2 {
  display: flex;
}
.second_select_quote2 .card_select2 {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: var(--color-gray6);
  margin-right: 15px;
  border: 1px solid var(--color-gray2);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_select_quote2 .card_select2 input {
  display: none;
}
.second_select_quote2 .card_select2:hover {
  box-shadow: 4px 4px 14px rgba(46, 105, 255, 0.3);
}
.second_select_quote2 .card_select2.active {
  background-color: var(--color-azul-destaque);
  color: var(--color-white);
}

.subtitle-quote {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--color-gray5);
  margin-bottom: 10px;
}
.title-simple-quote {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-gray4);
  margin-bottom: 10px;
}
.title-quote-less {
  margin-bottom: 10px;
}

.second_select_quote3 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.second_select_quote3 .card_select3 {
  width: calc(100% / 5 - 20px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 178px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid var(--color-gray2);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}
.second_select_quote3 .card_select3 input {
  display: none;
}
.second_select_quote3 .card_select3 p {
  width: 100%;
  text-align: center;
}
.second_select_quote3 .card_select3 svg {
  margin-bottom: 8px;
}
.second_select_quote3 .card_select3 svg path {
  fill: #9ca3af;
}
.recommended-star {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
.second_select_quote3 .card_select3 p {
  color: var(--color-gray5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.second_select_quote3 .card_select3:hover {
  box-shadow: 4px 4px 14px rgba(46, 105, 255, 0.3);
}
.second_select_quote3 .card_select3.active {
  background-color: var(--color-azul-destaque);
  color: var(--color-white);
}
.second_select_quote3 .card_select3.active p {
  color: var(--color-white);
}
.second_select_quote3 .card_select3.active svg path {
  fill: var(--color-white);
}

.fields_form_quote {
  display: flex;
  flex-wrap: wrap;
}
.fields_form_quote h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: var(--color-gray5);
  margin-bottom: 10px;
}
.fields_form_quote_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.form_group_field_33 {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 0;
}

.form_group_field_33 label {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--color-dark);
}
.form_group_field_33 input {
  width: 100%;
  padding: 12px 15px;
  background-color: var(--color-blue-light2);
  border: 1px solid var(--color-blue-light);
  border-radius: 40px;
  outline: none;
}
.form_group_field_33 select {
  width: 100%;
  padding: 12px 15px;
  background-color: var(--color-blue-light2);
  border: 1px solid var(--color-blue-light);
  border-radius: 40px;
  outline: none;
}
.form_quote_row textarea {
  width: 100%;
  padding: 12px 15px;
  background-color: var(--color-gray);
  border: 1px solid var(--color-blue-light);
  border-radius: 8px;
  outline: none;
}

.form_group_field_33 input::-webkit-input-placeholder {
  color: var(--color-black);
}
.checkbox_line {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox_line label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox_line input {
  width: auto;
  margin-right: 5px;
}
.checkbox_line span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--color-dark);
}
.btn_submit_form {
  display: flex;
  justify-content: center;
}

.content_quote_right {
  position: sticky;
  top: 0;
  width: calc(30% - 20px);
}
.content_quote_right h3 {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-gray2);
  color: var(--color-dark);
}

.summary_quote_right {
  border: 1px solid var(--color-gray2);
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.items_summary {
  padding: 16px;
}
.row_summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.title-two-summary {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.title-one-summary {
  font-size: 17px;
  font-weight: 400;
  color: #4b5563;
}
.over_edit_summary {
  justify-content: flex-end;
}
.btn_edit_summary {
  color: var(--color-azul-destaque);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn_edit_summary img {
  width: 20px;
  margin-left: 4px;
}
.select-primary {
  color: #4b5563;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  width: 100%;
}
.line_summary {
  position: relative;
  width: 100%;
  padding: 16px;
}
.line_summary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background-color: var(--color-gray2);
  height: 1px;
  width: 100%;
}
.discount_code {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--color-gray2);
  border-bottom: 1px solid var(--color-gray2);
  display: flex;
  justify-content: space-between;
}
.discount_code input {
  padding: 8px 10px;
  border: 2px solid var(--color-blue-light);
  background-color: var(--color-blue-light2);
  border-radius: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  outline: none;
}
.resume_summary {
  padding: 16px;
}
.final_value_summary {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-azul-destaque);
}
.title-summary-black {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 700;
}
.card_comment_summary {
  background-color: var(--color-azul-destaque);
  padding: 42px 25px;
  position: relative;
  border-top-right-radius: 40px;
  margin: 40px 10px;
}
.card_comment_summary .float_testi {
  position: absolute;
  left: 25px;
  top: -20px;
  width: 50px !important;
}
.over_summary_quote_right {
  position: sticky;
  top: 10px;
}

.form_button_container {
  position: static;
  bottom: 200px;
  border: 1px solid var(--color-gray4);
  padding: 8px 8px;
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

#previous-form-step {
  display: none;
}

@media (max-width: 1200px) {
  .content_quote_left,
  .content_quote_right {
    width: 100%;
    margin-bottom: 10px;
  }
  .content_quote {
    flex-wrap: wrap;
  }
}

@media (max-width: 840px) {
  .first_select_quote {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .card_first_select {
    width: calc(100% / 3);
    margin: 20px 0;
  }
  .second_select_quote {
    flex-wrap: wrap;
  }
  .second_select_quote .over_card_select {
    width: calc(100% / 4 - 12px);
    margin: 20px 0;
  }
  .second_select_quote3 .card_select3 {
    width: calc(100% / 4 - 20px);
  }

  #form-buttons{
    display: flex;
    justify-content: space-between !important; 
    position: fixed !important;
    background-color: white !important;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .form_group_field_33 {
    width: 50%;
  }
  .second_select_quote .over_card_select {
    width: calc(100% / 3 - 12px);
    margin-right: 12px;
  }
  .second_select_quote {
    justify-content: flex-start;
  }
  .second_select_quote3 .card_select3 {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 700px) {
  .over_summary_quote_right {
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .second_select_quote .over_card_select {
    width: calc(100% / 2 - 12px);
  }
  .second_select_quote2 {
    flex-wrap: wrap;
  }
  .second_select_quote2 .card_select2 {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
  .second_select_quote3 .card_select3 {
    width: calc(100% / 2 - 20px);
  }
  .card_first_select {
    width: calc(100% / 2);
  }
  .form_group_field_33 {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .card_first_select {
    width: 100%;
    flex-direction: column;
  }
  .head_card_first_select {
    width: 100%;
  }
  .second_select_quote .over_card_select {
    width: 100%;
  }
  .second_select_quote .card_select {
    width: 100%;
  }
  .second_select_quote2 .card_select2 {
    width: 100%;
    margin-right: 0;
  }
  .second_select_quote3 .card_select3 {
    width: 100%;
    margin-right: 0;
  }
  .content_head_page::after {
    display: none;
  }
}

#input-square-container {
  padding: 9.8px 5px;
}

#number-input-square {
  width: 90px;
}

.coupon-code-div {
  border: 2px solid #ddd;
  color: #1c1c1c;
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  border-radius: 20px;
}

.coupon-code-div > div {
  cursor: pointer;
}

#services {
  display: none;
}

#extra-services {
  display: none;
}

#extras {
  max-height: 200px;
  overflow: auto;
}

#extras::-webkit-scrollbar {
  width: 0px;
}

.recommended {
  border: 1px solid var(--color-azul-destaque) !important;
}

.progress-bar {
  width: 100%;
  background-color: var(--color-gray2);
  transition: 0.75s ease;
  height: 5px;
  border-radius: 2px;
}

.progress-bar .filled {
  width: 14.28%;
  height: 100%;
  background-color: var(--color-azul-destaque);
  transition: 0.75s ease;
}

.extra-title {
  max-width: 200px;
}

#final-step-cta {
  display: none;
}
