
.left_page_default{
    width: calc(30% - 40px);
}
.right_page_default{
    width: calc(70% - 40px);
}

.cards_min_simple{
    padding: 40px 0;
}
.card_min_simple{
    width: calc(25% - 20px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
    position: relative;
}
.img_card_min_simple{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    margin-top: -60px;
    margin-bottom: 24px;
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
}
.cards_min_simple h4{
    font-size: 20px;
    font-weight: 700;
    color: #001C8F;
    line-height: 30px;
    text-align: center;
}
.section-inner{
    padding: 30px 0;
}

.switch-default{
    display: fex;
}
.switch-default button{
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}
.switch_default{
    padding: 20px 0;
    display: flex;
}
.switch_default button{
    padding: 12px 20px;
    text-align: center;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
}
.switch_default button.active{
    background-color: var(--color-azul-destaque);
    color: var(--color-white);
}

.big_icon{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    padding: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.big_card{
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    background-color: #f6f9fc;
    padding: 24px;
    margin-bottom: 30px;
}
.big_card h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-azul-destaque);
    margin-bottom: 24px;
}

.head_left_page_default{
    border-top: 6px solid var(--color-azul-destaque);
    padding: 24px 0;
    font-size: 20px;
    font-weight: 700;
}

.items_page_default{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
}
.row_items_page_default{
    padding: 18px 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-azul-escuro);
    border-bottom: 2px solid var(--color-gray2);
    width: 100%;
    display: flex;
}
.row_items_page_default:hover{
    background-color: var(--color-gray2);
}
.row_items_page_default.active{
    background-color: var(--color-azul-destaque);
    color: var(--color-white);
}
.title-faq{
    font-size: 20px;
    font-weight: 700;
    color: #082680;
    line-height: 24px;
    margin-bottom: 24px;
}
.item_portfolio{
    margin-bottom: 30px;
}
.loop_carroussel{
    padding: 20px 0;
}
.loop_carroussel img{
    border-radius: 8px;
    cursor: pointer;
    transition: all .1s;
    height: 180px;
    object-fit: cover;
}
.loop_carroussel img.active{
    border: 4px solid var(--color-azul-destaque);
}
.loop_carroussel .owl-dots{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.loop_carroussel .owl-dots button{
    margin: 0 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-gray4);
}
.loop_carroussel .owl-dots button.active{
    border: 2px solid var(--color-dark);
    background-color: var(--color-azul-destaque);
}
.carroussel_services.owl-carousel .owl-stage-outer{
    padding: 10px 40px;
    margin: 0 10px;
}
.carroussel_services .card_hori{
    width: 80%;
    height: 100%;
}
.carroussel_services .owl-stage{
    display: flex;
}
.carroussel_services .owl-item{
    height: auto;
    display: flex;
}
.carroussel_services .owl-nav button{
    position: absolute;
    top: calc(50% - 40px);
    left: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque)!important;
}
.carroussel_services .owl-nav button.owl-next{
    left: unset;
    right: -20px;
}
.card_portfolio{
    flex-basis: unset;
    width: calc(50% - 40px);
    margin-bottom: 30px;
}
.card_portfolio img{
    width: 100%;
    margin-bottom: 15px;
}
.top_head_reviews{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.over_points_reviews{
    display: flex;
    border-bottom: 1px solid var(--color-gray2);
}
.over_points_reviews a{
    padding: 2px 20px;
    color: var(--color-gray4);
}
.over_points_reviews a.active{
    border-bottom: 1px solid var(--color-azul-destaque);
    color: var(--color-azul-destaque);
}
.over_points_reviews a img{
    height: 20px;
    margin-right: 5px;
}
.bottom_head_reviews{
    padding: 5px 0;
}
.bottom_head_reviews p:first-child{
    margin-bottom: 10px;
}
.bottom_head_reviews .inf .stars_testi{
    margin: 0 10px;
}
.card_review{
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--color-gray2);
    background-color: #f9fafb;
    width: calc(33% - 20px);
    margin-bottom: 40px;
}
.card_review p{
    color: var(--color-gray4);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}
.head_card_review{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.head_card_review img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
}
.head_card_review p{
    color: var(--color-gray4);
    margin: 0;
}
.head_card_review p strong{
    color: var(--color-black);
}
.content_reviews{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom_card_review{
    padding: 24px 0 0 0;
}
.bottom_card_review p{
    color: var(--color-gray4);
    margin-bottom: 10px;
}
.bottom_card_review img{
    width: 80px;
}
.row_address{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    margin-bottom: 24px;
}
.row_address img{
    width: 20px;
    margin-right: 10px;
}
.info_row_address p{
    color: var(--color-gray4);
}
.info_row_address p strong{
    color: var(--color-black);
}
.left_contact_page{
    width: 40%;
}
.right_contact_page{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.contact_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_simple{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
}
.row_form label{
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 10px;
    width: 100%;
}
.row_form input{
    padding: 10px;
    border: 1px solid #E5E7EB;
    background-color: #F9FAFB;
    border-radius: 8px;
    width: 100%;
}
.row_form textarea{
    width: 100%;
    border: 1px solid #E5E7EB;
    background-color: #F9FAFB;
    padding: 10px;
}
.row_form select{
    padding: 8px 10px!important;
    border: 2px solid var(--color-blue-light)!important;
    background-color: var(--color-blue-light2)!important;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
}

.row_form h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-azul-escuro);
    margin-bottom: 8px;
}
.row_form p{
    margin-bottom: 8px;
    color: var(--color-azul-escuro);
}
.head_page_help p{
    font-size: 24px;
    font-weight: 400;
    color: var(--color-azul-escuro);
}
.over_form_page_help{
    display: flex;
}
.over_form_page_help form{
    padding: 14px 16px;
    border: 1px solid #2C76CE;
    border-radius: 60px;
    width: 100%;
    display: flex;
}
.over_form_page_help form input{
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--color-azul-destaque);
}
.over_form_page_help form input::-webkit-input-placeholder{
    color: var(--color-azul-destaque);
}
.over_form_page_help form button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.over_form_page_help form button img{
    width: 20px;
}

.card_help{
    width: calc(50% - 30px);
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
    padding: 16px;
    border-radius: 8px;
}
.img_card_help{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
    margin: auto;
    margin-bottom: 14px;
    padding: 15px;
}
.card_help hr{
    width: 56px;
    height: 3px;
    background-color: var(--color-azul-destaque);
    margin: 0 auto 14px;
    border: none;
}
.card_help h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-azul-escuro);
    margin-bottom: 14px;
    text-align: center;
}
.card_help p{
    font-size: 18px;
    font-weight: 400;
    color: #6B7280;
    line-height: 26px;
    text-align: center;
}
.card_min_simple.v2{
    flex-direction: column;
    padding: 40px 20px;
}


@media(max-width: 992px){
    .left_page_default, .right_page_default{
        width: 100%;
    }
}

@media(max-width: 768px){
    .card_min_simple{
        width: calc(50% - 20px);
        flex-direction: column;
        margin-bottom: 60px;
    }
    .big_icon{
        padding: 5%;
    }
    .card_portfolio{
        width: 100%;
    }
    .card_review{
        width: calc(50% - 20px);
    }
    .top_head_reviews{
        flex-wrap: wrap;
    }
    .points_reviews{
        overflow-x: scroll;
    }
    .over_points_reviews{
        min-width: 800px;
    }
    .points_reviews::-webkit-scrollbar{
        height: 6px;
        width: 4px;
        background-color: transparent;
    }
    .points_reviews::-webkit-scrollbar-thumb{
        height: 4px;
        background-color: var(--color-azul-destaque);
        border-radius: 10px;
    }
    .right_contact_page, .left_contact_page{
        width: 100%;
    }
}
@media(max-width: 500px){
    .card_min_simple{
        width: 100%;
    }
    .cards_min_simple h4{
        font-size: 18px;
        line-height: 22px;
    }
    .big_icon{
        padding: 8%;
    }
    .card_review{
        width: 100%;
        margin-bottom: 10px;
    }
    .card_help{
        width: 100%;
    }
    .over_form_page_help form{
        padding: 5px 10px;
    }
    .over_form_page_help form input{
        font-size: 16px;
    }
}

@media(max-width: 480px){
    .w-mobile{
        width: 100%;
    }
}

@media(max-width: 420px){
    .big_icon{
        padding: 12%;
    }
}