
.left_page_default{
    width: calc(30% - 40px);
}
.right_page_default{
    width: calc(70% - 40px);
}

.cards_min_simple{
    padding: 40px 0;
}
.card_min_simple{
    width: calc(25% - 20px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
    position: relative;
}
.img_card_min_simple{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    margin-top: -60px;
    margin-bottom: 24px;
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
}
.cards_min_simple h4{
    font-size: 20px;
    font-weight: 700;
    color: #001C8F;
    line-height: 30px;
    text-align: center;
}
.section-inner{
    padding: 30px 0;
}

.switch-default{
    display: fex;
}
.switch-default button{
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}
.switch_default{
    padding: 20px 0;
    display: flex;
}
.switch_default button{
    padding: 12px 20px;
    text-align: center;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14á¹•x;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.switch_default button.active{
    background-color: var(--color-azul-destaque);
    color: var(--color-white);
}

.big_icon{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    padding: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.big_card{
    border: 1px solid var(--color-gray2);
    border-radius: 8px;
    background-color: #f6f9fc;
    padding: 24px;
    margin-bottom: 30px;
}
.big_card h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-azul-destaque);
    margin-bottom: 24px;
}

.head_left_page_default{
    border-top: 6px solid var(--color-azul-destaque);
    padding: 24px 0;
    font-size: 20px;
    font-weight: 700;
}

.items_page_default{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
}
.row_items_page_default{
    padding: 18px 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-azul-escuro);
    border-bottom: 2px solid var(--color-gray2);
    width: 100%;
    display: flex;
}
.row_items_page_default:hover{
    background-color: var(--color-gray2);
}
.row_items_page_default.active{
    background-color: var(--color-azul-destaque);
    color: var(--color-white);
}
.title-faq{
    font-size: 20px;
    font-weight: 700;
    color: #082680;
    line-height: 24px;
    margin-bottom: 24px;
}
.item_portfolio{
    margin-bottom: 30px;
}
.loop_carroussel{
    padding: 20px 0;
}
.loop_carroussel img{
    border-radius: 8px;
    cursor: pointer;
    transition: all .1s;
    height: 180px;
    object-fit: cover;
}
.loop_carroussel img.active{
    border: 4px solid var(--color-azul-destaque);
}
.loop_carroussel .owl-dots{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.loop_carroussel .owl-dots button{
    margin: 0 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-gray4);
}
.loop_carroussel .owl-dots button.active{
    border: 2px solid var(--color-dark);
    background-color: var(--color-azul-destaque);
}
.carroussel_services.owl-carousel .owl-stage-outer{
    padding: 10px 40px;
    margin: 0 10px;
}
.carroussel_services .card_hori{
    width: 80%;
    height: 100%;
}
.carroussel_services .owl-stage{
    display: flex;
}
.carroussel_services .owl-item{
    height: auto;
    display: flex;
}
.carroussel_services .owl-nav button{
    position: absolute;
    top: calc(50% - 40px);
    left: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque)!important;
}
.carroussel_services .owl-nav button.owl-next{
    left: unset;
    right: -20px;
}


@media(max-width: 992px){
    .left_page_default, .right_page_default{
        width: 100%;
    }
}

@media(max-width: 768px){
    .card_min_simple{
        width: calc(50% - 20px);
        flex-direction: column;
        margin-bottom: 60px;
    }
    .big_icon{
        padding: 5%;
    }
}
@media(max-width: 500px){
    .card_min_simple{
        width: 100%;
    }
    .cards_min_simple h4{
        font-size: 18px;
        line-height: 22px;
    }
    .big_icon{
        padding: 8%;
    }
}
@media(max-width: 420px){
    .big_icon{
        padding: 12%;
    }
}