.popup__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 416px;
  max-height: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  color: #6B7280;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  border-bottom: 1.25px solid var(--color-gray2);
}

.popup__header div {
  cursor: pointer;
}

.popup__header span {
  font-weight: 600;
  color: #000;
}

.popup__main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 500px;
  overflow-y: auto;
}

.popup__main select{
  max-width: 50%;
}

.popup__main label {
  gap: 8px;
}

.popup-div .title {
  font-weight: 600;
  color: var(--color-gray4);
}

.popup__footer {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  padding: 16px;
  border-top: 1.25px solid var(--color-gray2);

  background-color: white;
}

.form_error{
  display: none;
  flex-direction: column;
  gap: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_group input {
  width: 100%;
  padding: 12px 15px;
  background-color: var(--color-blue-light2);
  border: 1px solid var(--color-blue-light);
  border-radius: 40px;
  outline: none;
}

.form_group input.error {
  background-color: var(--bg-error);
  border: 1px solid var(--color-error);
  color: var(--color-error);
  font-weight: 500;
  border-radius: 40px;
  outline: none;
}

.form_group input.error::placeholder {
  color: var(--color-error);
}