
.card_blue{
    background-color: #DEE5EB;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(33% - 34px);
    margin: 0 0 60px 0;
    overflow: hidden;
    position: relative;
    transition: all .4s;
}
.card_blue a{
    padding: 30px;
    position: relative;
    z-index: 1;
    background-color: #DEE5EB;
    transition: all .4s;
}
.card_blue a .before_card_blue{
    content: "";
    width: 0;
    height: 0;
    border: 8px solid var(--color-white);
    position: absolute;
    top: 210px;
    left: -10px;
    z-index: -1;
    border-top: 0 solid transparent;
    border-left: calc(355px / 2) solid transparent;
    border-right: calc(355px / 2) solid transparent;
    border-bottom: 50px solid #DEE5EB;
    transition: all .4s;
}
.card_blue a .before_card_blue::after{
    content: "";
    width: 500px;
    height: 8px;
    position: absolute;
    top: 60px;
    left: -5px;
    background-color: var(--color-white);
    transform: rotate(15deg);
    opacity: 0;
    transition: all .4s;
}
.card_blue a .before_card_blue::before{
    content: "";
    width: 500px;
    height: 8px;
    position: absolute;
    top: 60px;
    right: -14px;
    background-color: var(--color-white);
    transform: rotate(-15deg);
    opacity: 0;
    transition: all .4s;
}
.card_blue:hover a .before_card_blue::after{
    opacity: 1;
}
.card_blue:hover a .before_card_blue::before{
    opacity: 1;
}
.card_blue:hover a{
    background-color: transparent!important;
}
.card_blue:hover a .before_card_blue{
    display: block;
    top: 132px;
}
.card_blue:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(46, 105, 255, .6);
}
.card_blue .head_card_blue{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-bottom: 30px;
    transition: all .4s;
    position: relative;
}
.card_blue:hover a{
    margin-top: 20px;
    padding-top: 100px;
}
.card_blue:hover .head_card_blue{
    opacity: 0;
    overflow: hidden;
}
.card_blue .head_card_blue_hide{
    position: absolute;
    top: -100%;
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    z-index: 10;
    opacity: 0;
    transition: all .4s;
}
.card_blue:hover .head_card_blue_hide{
    top: 110px;
    opacity: 1;
}
.card_blue .hide_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.info_card_blue h4{
    color: var(--color-azul5);
    font-size: 22px;
    font-weight: 700;
}
.info_card_blue hr{
    width: 35px;
    height: 4px;
    background-color: #007CFB;
    margin: 18px 0;
}
.info_card_blue p{
    font-size: 16px;
    font-weight: 400;
    color: #3A4268;
    line-height: 26px;
}
.card_min{
    box-shadow: 4px 4px 14px rgba(46, 105, 255, .3);
    border-radius: 8px;
    position: relative;
    width: calc(33% - 40px);
    margin: 30px 0;
    margin-left: 20px;
    transition: all .2s;
}
.card_min:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(46, 105, 255, .6);
}
.card_min p{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-azul-escuro);
    text-align: center;
    padding: 15px 20px;
}
.img_card_min{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-azul-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: -20px;
}

.head_cleaning_checklist{
    padding-left: 300px;
    display: flex;
    justify-content: flex-end;
    border-radius: 0 8px 0 0;
}
.th_cleaning_checklist{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    padding: 20px 10px;
    width: 160px;
    text-align: center;
}
.th_cleaning_checklist p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.th_cleaning_checklist:nth-child(1){
    background-color: #eff4fb;
    border: 3px solid var(--color-azul-destaque);
    border-radius: 8px 0 0 0;
    border-bottom: none;
    position: relative;
}
.th_cleaning_checklist:nth-child(1)::before{
    content: "Most Popular";
    position: absolute;
    top: -10px;
    left: 15px;
    padding: 2px;
    width: calc(100% - 30px);
    background-color: var(--color-azul-destaque);
    border-radius: 4px;
    color: var(--color-white);
}
.th_cleaning_checklist:nth-child(2){
    background-color: #2C76CE;
}
.th_cleaning_checklist:nth-child(3){
    background-color: #85B1D1;
}
.th_cleaning_checklist:nth-child(4){
    background-color: #70A3C7;
}
.th_cleaning_checklist:nth-child(5){
    background-color: #5492BD;
}
.th_main{
    color: var(--color-azul-escuro);
}
.head_body_cleaning_checklist{
    width: 100%;
    background-color: #cddef3;
    padding: 10px 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.row_body_cleaning_checklist{
    
}
.col_first_body_cleaning_checklist, .col_normal{
    padding: 30px 8px;
}
.row_single{
    display: flex;
    width: 100%;
}
.col_first_body_cleaning_checklist{
    font-size: 16px;
    font-weight: 400;
    color: #374151;
}
.content_single .row_single:nth-child(odd){
    background-color: #f9fafb;
}
.body_cleaning_checklist{
    height: 500px;
    border-radius: 8px 0 8px 8px;
    border: 1px solid #d1d5db;
    overflow-y: scroll;
}
.body_cleaning_checklist::-webkit-scrollbar{
    width: 6px;
    background-color:transparent;
    position: relative;
}
.body_cleaning_checklist::-webkit-scrollbar-thumb{
    background-color: var(--color-azul-destaque);
    border-radius: 10px;
}
.row_single .col_normal:nth-child(2){
    border: 3px solid var(--color-azul-destaque);
    border-top: none;
    border-bottom: none;
}
.col_normal.checked{
    position: relative;
}
.col_normal.checked::before{
    content: "";
    background-image: url(../img/check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 14px;
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 7px);
}
.map iframe{
    width: 100%;
}

@media(max-width: 768px){
    .card_blue{
        width: calc(50% - 20px);
        margin-bottom: 40px;
    }
    .card_min{
        width: calc(50% - 40px);
    }
    .cleaning_checklist{
        width: 100%;
        overflow-x: scroll;
    }
    .content_cleaning_checklist{
        min-width: 900px;
        padding-top: 20px;
    }
    .cleaning_checklist::-webkit-scrollbar{
        height: 6px;
        background-color:transparent;
    }
    .cleaning_checklist::-webkit-scrollbar-thumb{
        background-color: var(--color-azul-destaque);
        border-radius: 10px;
    }
    .col_first_body_cleaning_checklist{
        position: sticky;
        left: 0;
    }
    .content_sec_bottom{
        padding: 0 10px 40px 10px;
    }
}

@media(max-width: 650px){
    .card_blue{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .card_min{
        width: 100%;
        margin: 10px 0;
        margin-left: 20px;
    }
}

@media(max-width: 500px){
    .th_cleaning_checklist{
        padding: 15px 10px;
    }
    .th_cleaning_checklist p{
        font-size: 14px;
        line-height: 14px;
    }
    .th_cleaning_checklist:nth-child(1)::before{
        font-size: 12px;
    }
    .info_card_blue h4{
        font-size: 18px;
    }
    .info_card_blue p{
        font-size: 14px;
    }
    .col_first_body_cleaning_checklist{
        font-size: 14px;
    }
}